* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2155cd;
  font-family: "Grape Nuts", cursive;
  font-family: "Indie Flower", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
}

.container {
  width: 70vw;
  margin: auto;
}

.box1 {
  background-color: #e8f9fd;
  position: relative;
  padding: 2rem;
}

.box2 {
  background-color: #79dae8;
  flex-direction: row;
  display: flex;
  padding: 2vh;
  padding-right: 0;
}

.box3 {
  background-color: #e8f9fd;
  display: flex;
  flex-direction: row;
}

.box4 {
  background-color: #0aa1dd;
  display: flex;
  flex-direction: row;
  padding: 2vh;
  padding-bottom: 4vh;
}

.box1 .header {
  display: flex;
}

.header > img {
  margin: 2vw;
  width: 30vw;
}

.header > p {
  margin-top: 13vw;
}

.box1 .name {
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  top: calc(7vw);
  left: calc(26vw);
  width: 5rem;
}

.box2 > img {
  max-width: 40vw;
}

.box2 .intro {
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
}

.column1,
.column2,
.column3 {
  display: flex;
  flex-direction: column;
  width: calc(70vw / 3);
}

.box3 > img {
  max-width: 15vw;
}

.box4 .left,
.box4 .right {
  flex: 1;
  padding: 2vh;
}

.box4 .left {
  display: flex;
  justify-content: flex-end;
}

.box4 .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
/* 
.content1 {
  display: flex;
  flex-direction: row;
} */

/* .person {
  display: flex;
  align-items: center;
}

.person > img {
  width: 15rem;
  z-index: 1;
}

.me,
.text-1 {
  width: 10rem;
  height: 5rem;
}

.me {
  align-self: center;
  z-index: 2;
  order: 2;
}

.text-1 {
  order: 1;
  height: 10rem;
  align-self: flex-end;
  padding-left: 1rem;
} */

/* 
.content2 {
  display: flex;
} */

/* .anime {
  display: flex;
  width: 28rem;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
}

.anime > div {
  width: 15rem;
  height: 5rem;
}

.anime > p {
  width: 15rem;
}

.personal {
  flex-direction: row;
  width: 40rem;
  height: 15rem;
  display: flex;
}

.personal > img {
  width: 40rem;
  align-self: center;
} */

/* 
.content3 {
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  grid-template-rows: repeat(3, 20rem);
}

.item1 {
  padding: 2rem;
}

.item1 img {
  width: 15rem;
}

.item2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2rem;
}

.item2 img {
  width: 10rem;
} */

/* .item3 {
  display: flex;
  justify-content: end;
  align-items: center;
} */
/* 
.item3 img {
  width: 20rem;
  margin-top: 3rem;
}

.item5 {
  border: 1px solid rgb(165, 33, 33);
  display: flex;
  justify-content: center;
  align-items: center;
}

.item7 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item7 img {
  width: 20rem;
}

.item8 {
  text-align: center;
  padding-top: 3.5rem;
} */

/* .item8 button {
  margin-top: 2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  background-color: #79dae8;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.473);
}

.item9 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.item9 img {
  width: 10rem;
  padding-top: 3rem;
  padding-left: 2rem;
} */

/* 
.text-3 {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/*# sourceMappingURL=style.css.map */
